[tools]
ruby = "3.4.8"
swiftformat = "0.58.7"
swiftlint = "0.62.2"
pre-commit = "4.4.0"

[tasks.lint]
description = "Run linters"
run = """
swiftformat .
swiftlint --fix && swiftlint
"""

[tasks.build]
description = "Build the project"
run = "swift build"

[tasks.test]
description = "Test the project"
run = "swift test"

[tasks.docs]
description = "Generates documentation"
run = """
bundle install
bundle exec jazzy
"""

[tasks.install-pre-commit-hooks]
description = "Install pre-commit hooks"
run = "pre-commit install"